<a [routerLink]="[recipe_id]" class="list-group-item clearfix" routerLinkActive="active">
  <div class="pull-left">
    <h3 class="list-group-item-heading">{{recipe.name}}</h3>
    <p class="list-group-item-text">{{recipe.description}}</p>
  </div>
  <span class="pull-right">
      <img class="img-responsive" style="width: 60px;height: 60px" [src]="recipe.imagePath" alt="">
    </span>
</a>
