<div class="row">
  <div class="col-xs-12">
    <form id="shopping-list-add" (ngSubmit)="onSubmit(form.value)" #form="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="item-name">Name</label>
          <input type="text" id="item-name"
                 required
                 class="form-control"
                 [(ngModel)]="item.name"
                 name="name"
          >
        </div>

        <div class="col-sm-2 form-group">
          <label for="item-amount">Amount</label>
          <input type="text"
                 id="item-amount"
                 required
                 class="form-control"
                 [(ngModel)]="item.amount"
                 name="amount"
          >
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" type="submit" *ngIf="isAdd" [disabled]="item.name===null && item.amount===null">Add</button>
          <button class="btn btn-success" type="submit" *ngIf="!isAdd">Save</button>
          <button class="btn btn-danger" type="button" *ngIf="!isAdd" (click)="onDelete()">Delete Item</button>
          <button class="btn btn-primary" type="button" *ngIf="!isAdd" (click)="onClear()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
