<div class="row">
  <div class="col-xs-10">
    <button class="btn btn-default" (click)="goHome()">go to home</button>
    <app-shopping-list-add [item]="selectedIngredient" (cleared)="onCleard()"></app-shopping-list-add>
    <hr>
    <ul class="list-group">
        <a class="list-group-item" *ngFor="let item of ingredients"
           (click)="onSelect(item)">{{item.name}}  {{item.amount}}</a>
    </ul>
  </div>
</div>
