<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" [routerLink]="['']">Recipes</a>
    </div>
    <ul class="nav navbar-nav">
      <li routerLinkActive="active" [routerLink]="['recipes']"><a>recipes</a></li>
      <li routerLinkActive="active" [routerLink]="['shopping-list']"><a>shopping list</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>
