<div class="row">
  <div class="col-xs-12">
    <h1>{{title}}</h1>
    <img [src]="selected_recipe?.imagePath" alt="" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{selected_recipe?.name}}</h1>
  </div>
  <div class="col-xs-12">
    <button class="btn btn-success" (click)="addToList()">to shopping list</button>
    <button class="btn btn-primary" (click)="onEdit()">Edit</button>
    <button class="btn btn-danger" (click)="onDelete()">Delete</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <p>{{selected_recipe?.description}}</p>
  </div>
</div>
<div class="col-xs-12">
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let item of selected_recipe?.ingredients">{{item?.name}} & {{item?.amount}}</li>
  </ul>
</div>
