<div class="row">
  <div class="col-xs-12">
    <a class="btn btn-success" [routerLink]="['new']">New Recipe</a>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <app-recepes-item *ngFor="let recipe of recipes; let i = index" [recipe]="recipe" [recipe_id]="i"></app-recepes-item>
    </ul>
  </div>
</div>

